In [1]:
import anvil.server

anvil.server.connect("server_OUEVHIIMUUDZGBNY2IUSDSHX-F5ZYVSWLOFRNXXQI")

Connecting to wss://anvil.works/uplink
Anvil websocket open
Connected to "Default Environment" as SERVER

In [2]:
from bs4 import BeautifulSoup
import requests as rq
import urllib.request
import os
import re
import pandas as pd

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download()
from nltk.stem import PorterStemmer
porter = PorterStemmer()

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
from nltk.corpus import wordnet

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Danyal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [52]:

animals = ['tiger', 'cat', 'dog', 'horse', 'elephant', 'rhino', 'monkey', 'deer', 'kangaroo', 'bear', 'giraffe', 'koala', 'Cow', 'frog', 'crocodile', 'penguin', 'squirrel']
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
a_link ='https://unsplash.com/s/photos/'
#r2 = rq.get("https://unsplash.com/s/photos/cat", headers = headers)
#soup = BeautifulSoup(r2.text,"lxml")
#links = []

In [15]:
def none_type_clean(s):
    if s is None:
        return ''
    else:
        return s

In [99]:
tag = []
t_imgs = []
t_src = []
for i in animals:
    links = []
    r2 = rq.get(a_link + i, headers = headers)
    soup = BeautifulSoup(r2.text,"lxml")
    
    images = soup.select('img[src^="https://images.unsplash.com/photo"]')
    #print(images)
    for img in images:
        t_imgs.append(img)
#         links.append(img['src'])
        t_src.append(img['src'])
        tag.append(i)
#     os.mkdir(i)
    
#     j=1
#     for index,img_link in enumerate(links):
#         if j<=100:
#             img_data = rq.get(img_link).content
#             with open(i+"//"+str(index+1)+'.jpg', 'wb+') as f:
#                 f.write(img_data)
#             j+=1
#         else:
#             f.close()
#             break

In [100]:
len(t_imgs)

1099

In [101]:
imgs = []
for img in t_imgs:
    imgs.append(str(img))

In [102]:
imgs[0]

'<img alt="Bengal tiger" class="YVj9w" data-perf="eager-loaded-img" data-test="photo-grid-multi-col-img" itemprop="thumbnailUrl" sizes="(min-width: 1335px) 416px, (min-width: 992px) calc(calc(100vw - 72px) / 3), (min-width: 768px) calc(calc(100vw - 48px) / 2), 100vw" src="https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;w=1000&amp;q=80" srcset="https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=100&amp;q=60 100w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=200&amp;q=60 200w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=300&amp;q=60 300w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=400&amp;q=60 400w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60 500w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=600&amp;q=60 600w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=60 700w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60 800w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=900&amp;q=60 900w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=60 1000w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1100&amp;q=60 1100w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=60 1200w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1296&amp;q=60 1296w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1400&amp;q=60 1400w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=60 1600w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=1800&amp;q=60 1800w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=2000&amp;q=60 2000w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=2200&amp;q=60 2200w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=2400&amp;q=60 2400w, https://images.unsplash.com/photo-1561731216-c3a4d99437d5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGlnZXJ8ZW58MHx8MHx8&amp;auto=format&amp;fit=crop&amp;w=2592&amp;q=60 2592w"/>'

In [117]:
title = []

for i in imgs:
    title.append(re.search('<img alt="(.+?)"',i))

In [118]:
len(title)

1099

In [119]:
# title[2].group()
for i in range (0,len(title)-1):
    if title[i] == None:
        title[i] = none_type_clean(title[i])
        continue
    title[i] = title[i].group()
    title[i] = title[i][10:-1]

In [120]:
title[0]

'Bengal tiger'

In [123]:
df = pd.DataFrame()

In [124]:
df['links'] = t_src

In [125]:
df['tag'] = tag

In [212]:
df['text'] = title

In [41]:
df.tail(10)

,links,tag,text,location
id,,,,
squirrel1090,https://images.unsplash.com/photo-156909312170...,squirrel,"[selective, focus, photo, rodent, squirrel, sq...",photos//squirrel1090.jpg
squirrel1091,https://images.unsplash.com/photo-162456823705...,squirrel,"[squirrel, squirrel, squirrel]",photos//squirrel1091.jpg
squirrel1092,https://images.unsplash.com/photo-156921935723...,squirrel,"[closeup, photo, squirrel, grass, squirrel, sq...",photos//squirrel1092.jpg
squirrel1093,https://images.unsplash.com/photo-151877035242...,squirrel,"[brown, squirrel, green, leafed, tree, squirre...",photos//squirrel1093.jpg
squirrel1094,https://images.unsplash.com/photo-161879481060...,squirrel,"[brown, squirrel, brown, tree, branch, daytime...",photos//squirrel1094.jpg
squirrel1095,https://images.unsplash.com/photo-160573884887...,squirrel,"[brown, squirrel, tree, branch, daytime, squir...",photos//squirrel1095.jpg
squirrel1096,https://images.unsplash.com/photo-160573886213...,squirrel,"[brown, squirrel, tree, trunk, squirrel, squir...",photos//squirrel1096.jpg
squirrel1097,https://images.unsplash.com/photo-160300803028...,squirrel,"[brown, squirrel, brown, tree, trunk, squirrel...",photos//squirrel1097.jpg
squirrel1098,https://images.unsplash.com/photo-157049991156...,squirrel,"[brown, squirrel, squirrel, squirrel, squirrel]",photos//squirrel1098.jpg
squirrel1099,https://images.unsplash.com/photo-160604423048...,squirrel,"[nan, squirrel, squirrel, squirrel]",photos//squirrel1099.jpg

In [128]:
df.shape

(1099, 3)

In [130]:
os.mkdir('photos')

In [153]:
location = []
u_id = []

In [154]:
for i in range(0, len(df)):
    location.append("photos//"+df['tag'][i]+str(i+1)+'.jpg')
    u_id.append(str(df['tag'][i])+str(i+1))

In [145]:
df['links'][1098]

'https://images.unsplash.com/photo-1606044230480-137ea0f7f92f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNxdWlycmVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80'

In [155]:
df['location'] = location
df['id'] = u_id

In [156]:
df.head(10)

,links,tag,text,location,id
0,https://images.unsplash.com/photo-1561731216-c...,tiger,Bengal tiger,photos//tiger1.jpg,tiger1
1,https://images.unsplash.com/photo-1551972251-1...,tiger,close-up photography of tiger,photos//tiger2.jpg,tiger2
2,https://images.unsplash.com/photo-161582499619...,tiger,tiger on brown tree log,photos//tiger3.jpg,tiger3
3,https://images.unsplash.com/photo-160249145363...,tiger,,photos//tiger4.jpg,tiger4
4,https://images.unsplash.com/photo-159182443870...,tiger,brown tiger walking on brown sand during daytime,photos//tiger5.jpg,tiger5
5,https://images.unsplash.com/photo-153761693034...,tiger,tiger in forest,photos//tiger6.jpg,tiger6
6,https://images.unsplash.com/photo-160261263946...,tiger,tiger lying on ground near green leaves during...,photos//tiger7.jpg,tiger7
7,https://images.unsplash.com/photo-159076741306...,tiger,brown and white tiger on black background,photos//tiger8.jpg,tiger8
8,https://images.unsplash.com/photo-156760191666...,tiger,orange tiger,photos//tiger9.jpg,tiger9
9,https://images.unsplash.com/photo-160509267692...,tiger,brown and black tiger in close up photography,photos//tiger10.jpg,tiger10

In [185]:
df = df.set_index('id')

In [186]:
df.head()

,links,tag,text,location
id,,,,
tiger1,https://images.unsplash.com/photo-1561731216-c...,tiger,Bengal tiger,photos//tiger1.jpg
tiger2,https://images.unsplash.com/photo-1551972251-1...,tiger,close-up photography of tiger,photos//tiger2.jpg
tiger3,https://images.unsplash.com/photo-161582499619...,tiger,tiger on brown tree log,photos//tiger3.jpg
tiger4,https://images.unsplash.com/photo-160249145363...,tiger,,photos//tiger4.jpg
tiger5,https://images.unsplash.com/photo-159182443870...,tiger,brown tiger walking on brown sand during daytime,photos//tiger5.jpg

In [191]:
df.loc['tiger1']['location']

'photos//tiger1.jpg'

In [171]:
ind = df.keys()

In [172]:
ind

Index(['links', 'tag', 'text', 'location', 'id'], dtype='object')

In [ ]:
os.mkdir('photos')

In [190]:
for i in df.index:
    img_data = rq.get(df.loc[i]['links']).content
    with open(df.loc[i]['location'], 'wb+') as f:
        f.write(img_data)
f.close()

## Cleaning text

In [214]:
df['text'] = df['text'].str.lower()

In [215]:
df.head()

,links,tag,text,location
id,,,,
tiger1,https://images.unsplash.com/photo-1561731216-c...,tiger,bengal tiger,photos//tiger1.jpg
tiger2,https://images.unsplash.com/photo-1551972251-1...,tiger,close-up photography of tiger,photos//tiger2.jpg
tiger3,https://images.unsplash.com/photo-161582499619...,tiger,tiger on brown tree log,photos//tiger3.jpg
tiger4,https://images.unsplash.com/photo-160249145363...,tiger,,photos//tiger4.jpg
tiger5,https://images.unsplash.com/photo-159182443870...,tiger,brown tiger walking on brown sand during daytime,photos//tiger5.jpg

In [216]:
df.dtypes

links       object
tag         object
text        object
location    object
dtype: object

In [217]:
import string

def remove_punct(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

## POS taging and lemmetize

In [17]:
# Map POS tag to first character lemmatize() accepts
def get_wordnet_pos(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

In [18]:
def lem(text):
    return [wordnet_lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in nltk.word_tokenize(text)]

In [222]:
for i in range (0, len(df)):
    df['text'][i] = lem(str(df['text'][i]))

In [232]:
df.head()

,links,tag,text,location
id,,,,
tiger1,https://images.unsplash.com/photo-1561731216-c...,tiger,"[bengal, tiger]",photos//tiger1.jpg
tiger2,https://images.unsplash.com/photo-1551972251-1...,tiger,"[close-up, photography, tiger]",photos//tiger2.jpg
tiger3,https://images.unsplash.com/photo-161582499619...,tiger,"[tiger, brown, tree, log]",photos//tiger3.jpg
tiger4,https://images.unsplash.com/photo-160249145363...,tiger,[],photos//tiger4.jpg
tiger5,https://images.unsplash.com/photo-159182443870...,tiger,"[brown, tiger, walk, brown, sand, daytime]",photos//tiger5.jpg

In [19]:
stopwords = nltk.corpus.stopwords.words('english')

In [231]:
for i in range (0, len(df)):
    df['text'][i] = [word for word in df['text'][i] if word not in stopwords]

In [115]:
for i in range(0, len(df)):
    df['text'][i].append(df['tag'][i])
    df['text'][i].append(df['tag'][i])

In [116]:
df.head()

,links,tag,text,location
id,,,,
tiger1,https://images.unsplash.com/photo-1561731216-c...,tiger,"[bengal, tiger, tiger, tiger, tiger]",photos//tiger1.jpg
tiger2,https://images.unsplash.com/photo-1551972251-1...,tiger,"[close-up, photography, tiger, tiger, tiger, t...",photos//tiger2.jpg
tiger3,https://images.unsplash.com/photo-161582499619...,tiger,"[tiger, brown, tree, log, tiger, tiger, tiger]",photos//tiger3.jpg
tiger4,https://images.unsplash.com/photo-160249145363...,tiger,"[tiger, tiger, tiger]",photos//tiger4.jpg
tiger5,https://images.unsplash.com/photo-159182443870...,tiger,"[brown, tiger, walk, brown, sand, daytime, tig...",photos//tiger5.jpg

In [3]:
%store -r df

In [4]:
vocab = []
for i in df['text']:
    for j in i:
        if j not in vocab:
            vocab.append(j)

In [5]:
len(vocab)

245

In [6]:
inverted_index = pd.DataFrame()

In [7]:
df = df.reset_index()

In [8]:
df['id'][1]

'tiger2'

In [9]:
inverted_index['word'] = vocab

In [10]:
doc_list = []
freq = []
for i in vocab:
    ls = []
    f_ls = []
    for j in range (0, len(df)):
        if i in df['text'][j]:
            ls.append(df['id'][j])
            f_ls.append(df['text'][j].count(i))
    doc_list.append(ls)
    freq.append(f_ls)

In [11]:
len(doc_list)

245

In [12]:
len(freq)

245

In [13]:
inverted_index['word'] = vocab
inverted_index['doc'] = doc_list
inverted_index['frequency'] = freq

In [14]:
inverted_index.head()

,word,doc,frequency
0,bengal,"[tiger1, tiger24, tiger47]","[1, 1, 1]"
1,tiger,"[tiger1, tiger2, tiger3, tiger4, tiger5, tiger...","[4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ..."
2,close-up,"[tiger2, tiger33, tiger50, squirrel1035, squir...","[1, 1, 1, 1, 1, 1]"
3,photography,"[tiger2, tiger10, tiger12, tiger13, tiger25, t...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,brown,"[tiger3, tiger5, tiger8, tiger10, tiger11, tig...","[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [20]:
q = 'close up photo of a tiger'

In [21]:
q = q.lower()
q = lem(str(q))
q = [word for word in q if word not in stopwords]

In [22]:
q

['close', 'photo', 'tiger']

## Getting IDF

Making the words keys

In [23]:
inverted_index = inverted_index.set_index('word')

In [24]:
import numpy as np

idf=pd.DataFrame()
i = []

for word in vocab:
    i.append(np.log2(len(df)/len(inverted_index.loc[word]['doc'])))

In [25]:
idf['word'] = vocab
idf['idf'] = i

In [26]:
idf.head()

          word       idf
0       bengal  8.517013
1        tiger  4.057582
2     close-up  7.517013
3  photography  3.709658
4        brown  1.234697

In [27]:
idf = idf.set_index('word')

In [28]:
df = df.set_index('id')

##### Calculating the average document length

In [29]:
addition = 0
for doc in df['text']:
    addition += len(doc)
avg_l = addition/len(df)

In [30]:
avg_l

7.110100090991811

In [31]:
# df = df.set_index("id")

### BM25 Formula

In [32]:
def BM25 (query):
    bm = {}
    for term in query:
        if term not in inverted_index.index:
            continue
        for i in range (0, len(inverted_index.loc[term]['doc'])):
            if inverted_index.loc[term]['doc'][i] not in bm:
                bm[inverted_index.loc[term]['doc'][i]] = 0
            bm[inverted_index.loc[term]['doc'][i]] += (idf.loc[term]['idf'] * ((inverted_index.loc[term]['frequency'][i] * 2.5)))/((inverted_index.loc[term]['frequency'][i] + (2 * ((1 - 0.75) + 0.75 * (len(df.loc[inverted_index.loc[term]['doc'][i]])/avg_l)))))
    #print(bm)
    bm = sorted(bm.items(), key=lambda x: x[1], reverse=True)
    return bm

In [33]:
BM25(q)

[('tiger10', 14.200717086403948),
 ('tiger32', 14.200717086403948),
 ('tiger48', 14.200717086403948),
 ('cat74', 11.6311308121644),
 ('cat111', 11.6311308121644),
 ('cat128', 11.6311308121644),
 ('tiger23', 7.995083376402113),
 ('tiger31', 7.995083376402113),
 ('tiger66', 7.995083376402113),
 ('tiger1', 7.592964591357219),
 ('tiger2', 7.592964591357219),
 ('tiger3', 7.592964591357219),
 ('tiger5', 7.592964591357219),
 ('tiger6', 7.592964591357219),
 ('tiger7', 7.592964591357219),
 ('tiger8', 7.592964591357219),
 ('tiger9', 7.592964591357219),
 ('tiger11', 7.592964591357219),
 ('tiger12', 7.592964591357219),
 ('tiger13', 7.592964591357219),
 ('tiger14', 7.592964591357219),
 ('tiger15', 7.592964591357219),
 ('tiger16', 7.592964591357219),
 ('tiger17', 7.592964591357219),
 ('tiger22', 7.592964591357219),
 ('tiger24', 7.592964591357219),
 ('tiger25', 7.592964591357219),
 ('tiger26', 7.592964591357219),
 ('tiger27', 7.592964591357219),
 ('tiger28', 7.592964591357219),
 ('tiger29', 7.592964591357219),
 ('tiger30', 7.592964591357219),
 ('tiger33', 7.592964591357219),
 ('tiger35', 7.592964591357219),
 ('tiger36', 7.592964591357219),
 ('tiger37', 7.592964591357219),
 ('tiger38', 7.592964591357219),
 ('tiger39', 7.592964591357219),
 ('tiger40', 7.592964591357219),
 ('tiger41', 7.592964591357219),
 ('tiger46', 7.592964591357219),
 ('tiger47', 7.592964591357219),
 ('tiger49', 7.592964591357219),
 ('tiger50', 7.592964591357219),
 ('tiger51', 7.592964591357219),
 ('tiger52', 7.592964591357219),
 ('tiger53', 7.592964591357219),
 ('tiger55', 7.592964591357219),
 ('tiger56', 7.592964591357219),
 ('tiger57', 7.592964591357219),
 ('tiger58', 7.592964591357219),
 ('tiger59', 7.592964591357219),
 ('tiger60', 7.592964591357219),
 ('tiger61', 7.592964591357219),
 ('tiger63', 7.592964591357219),
 ('tiger64', 7.592964591357219),
 ('tiger65', 7.592964591357219),
 ('tiger4', 7.00570270250059),
 ('tiger18', 7.00570270250059),
 ('tiger19', 7.00570270250059),
 ('tiger20', 7.00570270250059),
 ('tiger21', 7.00570270250059),
 ('tiger34', 7.00570270250059),
 ('tiger42', 7.00570270250059),
 ('tiger43', 7.00570270250059),
 ('tiger44', 7.00570270250059),
 ('tiger45', 7.00570270250059),
 ('tiger54', 7.00570270250059),
 ('tiger62', 7.00570270250059),
 ('monkey400', 6.607752495046729),
 ('monkey418', 6.607752495046729),
 ('monkey442', 6.607752495046729),
 ('kangaroo519', 6.607752495046729),
 ('kangaroo540', 6.607752495046729),
 ('kangaroo569', 6.607752495046729),
 ('frog841', 6.607752495046729),
 ('frog861', 6.607752495046729),
 ('frog890', 6.607752495046729),
 ('horse208', 5.023378317117671),
 ('horse216', 5.023378317117671),
 ('horse217', 5.023378317117671),
 ('horse233', 5.023378317117671),
 ('horse234', 5.023378317117671),
 ('horse241', 5.023378317117671),
 ('horse258', 5.023378317117671),
 ('horse260', 5.023378317117671),
 ('horse262', 5.023378317117671),
 ('rhino334', 5.023378317117671),
 ('rhino351', 5.023378317117671),
 ('rhino381', 5.023378317117671),
 ('monkey388', 5.023378317117671),
 ('monkey390', 5.023378317117671),
 ('monkey414', 5.023378317117671),
 ('monkey416', 5.023378317117671),
 ('monkey433', 5.023378317117671),
 ('monkey437', 5.023378317117671),
 ('kangaroo529', 5.023378317117671),
 ('kangaroo547', 5.023378317117671),
 ('kangaroo570', 5.023378317117671),
 ('bear594', 5.023378317117671),
 ('bear601', 5.023378317117671),
 ('bear626', 5.023378317117671),
 ('giraffe658', 5.023378317117671),
 ('giraffe676', 5.023378317117671),
 ('giraffe702', 5.023378317117671),
 ('frog848', 5.023378317117671),
 ('frog860', 5.023378317117671),
 ('frog886', 5.023378317117671),
 ('squirrel1047', 5.023378317117671),
 ('squirrel1048', 5.023378317117671),
 ('squirrel1049', 5.023378317117671),
 ('squirrel1060', 5.023378317117671),
 ('squirrel1067', 5.023378317117671),
 ('squirrel1074', 5.023378317117671),
 ('squirrel1088', 5.023378317117671),
 ('squirrel1090', 5.023378317117671),
 ('squirrel1092', 5.023378317117671)]

In [34]:
df.loc['cat74']['text']

['close', 'photo', 'tabby', 'cat', 'cat', 'cat', 'cat']

In [35]:
def sim(query):
    query = query.lower()
    query = lem(str(query))
    query = [word for word in query if word not in stopwords]
    
    result = BM25(query)
    im_ls = []
    im = 0
    while im < len(result):
        if len(im_ls) < 50:
            im_ls.append(df.loc[result[im][0]]['links'])
            im = im+3
    return im_ls

In [36]:
len(sim('the tongue of tiger'))

22

In [37]:
df.loc['elephant265']['text']

['two',
 'grey',
 'elephant',
 'grass',
 'plain',
 'sunset',
 'elephant',
 'elephant',
 'elephant']

In [38]:
import anvil.media

@anvil.server.callable
def get_sem(text):
    return sim(text)

Anvil websocket closed (code 1006, reason=Going away)
Reconnecting Anvil Uplink...
Connecting to wss://anvil.works/uplink
Reconnection failed. Waiting 10 seconds, then retrying.